body {
  background-color: var(--cor-back);
}

.slogan {
  padding-top: 100px;
}

.bg_photo {
  background-image: url("/public/imgs/main/cofi.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  margin-bottom: 120px;
  animation-name: animate;
  animation-duration: 45s;
  animation-delay: 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}

@keyframes animate {
  0%,
  100% {
    background-image: url("/public/imgs/main/cofi.jpg");
  }
  10% {
    background-image: url("/public/imgs/main/231118_2.jpg");
  }
  20% {
    background-image: url("/public/imgs/main/231118_11.jpg");
  }
  30% {
    background-image: url("/public/imgs/main/231118_25.jpg");
  }
  40% {
    background-image: url("/public/imgs/main/231118_16.jpg");
  }
  50% {
    background-image: url("/public/imgs/main/231118_23.jpg");
  }
  60% {
    background-image: url("/public/imgs/main/231118_27.jpg");
  }
  70% {
    background-image: url("/public/imgs/main/231118_40.jpg");
  }
  80% {
    background-image: url("/public/imgs/main/231118_63.jpg");
  }
  90% {
    background-image: url("/public/imgs/main/231118_30.jpg");
  }
}

.name_tag {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle {
  display: flex;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.home img {
  width: 120px;
  margin-bottom: 32px;
}

.home h3 {
  margin-bottom: 32px;
}

.home h1 {
  max-width: 17ch;
  text-align: center;
  margin-bottom: 32px;
  height: 80px;
}

.home p {
  max-width: 70ch;
  text-align: center;
  margin-bottom: 36px;
}

.buttom-1 {
  padding: 16px 32px;
  background-color: var(--cor-w);
  border-radius: 16px;
  text-transform: uppercase;
}

.buttom-1:hover {
  background-color: var(--cor-c2);
}

.message {
  display: inline-block;
}

@media (max-width: 1050px) {
  .bg_photo {
    background-image: url("/public/imgs/main/231118_18.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    margin-bottom: 0;
    animation-name:none;
    animation-name: animate;
    animation-duration: 45s;
    animation-delay: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
  }

  @keyframes animate {
    0%,
    100% {
      background-image: url("/public/imgs/main/231118_18.jpg");
    }
    10% {
      background-image: url("/public/imgs/main/231118_13.jpg");
    }
    20% {
      background-image: url("/public/imgs/main/231118_44.jpg");
    }
    30% {
      background-image: url("/public/imgs/main/231118_45.jpg");
    }
    40% {
      background-image: url("/public/imgs/main/231118_55.jpg");
    }
    50% {
      background-image: url("/public/imgs/main/231118_29.jpg");
    }
    60% {
      background-image: url("/public/imgs/main/231118_98.jpg");
    }
    70% {
      background-image: url("/public/imgs/main/231118_81.jpg");
    }
    80% {
      background-image: url("/public/imgs/main/231118_85.jpg");
    }
    90% {
      background-image: url("/public/imgs/main/231118_106.jpg");
    }
  }
}

@media (max-width: 750px) {
  .home-bg {
    padding: 40px 0px 80px 0px;
  }

  .bg_photo {
    height: 100vh;
    margin-bottom: 0;
  }

  .home img,
  .home h3,
  .home h1 {
    margin-bottom: 24px;
  }

  .home p {
    margin-bottom: 32px;
    max-width: 59ch;
  }
}

@media (max-width: 480px) {
  .bg_photo {
    height: 100vh;
    margin-bottom: 0;
  }
  .font-1-xxl {
    font: 500 2.25rem/1.1 "Poppins", sans-serif;
  }

  .font-1-s {
    font: 400 0.75rem/1.5 "Roboto", sans-serif;
  }

  .home p {
    max-width: 40ch;
  }
}
